@charset "UTF-8";

/*font-family: 'Lora', serif;*/

body,html{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lora', serif;
}

.container-fluid{
    padding: 0;
    margin: 0;
}

/* header */

.MenuHeader{
    background-color: #009de0;
    height: 100px;
    line-height: 100px;
}

.logo{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 7%;
    font-size: 30px;
    font-family: Brix;
  }

  .logo:hover{
    color: black;
}
  
  nav a{
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    font-family: Brix;
  }

  .menu{
    text-align: right;
}

.menu a{
    color: #ffffff;
    margin-right: 20px;
}

.menu a:hover{
    color: black;
}