@charset "UTF-8";

/*font-family: 'Lora', serif;*/
html{
    font-size: 100%;
}

body{
    font-family: 'Lora', serif;
    padding: 0;
    margin: 0;
}

.container-fluid{
    padding: 0;
    margin: 0;
}

.MenuHeader{
    background-color: #009de0;
}

.MenuHeader a{
    color: white;
}

.logo a{
    color: white;
}

.logo{
    padding-top: 2%;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 3rem;
    font-family: Brix;
  }

.logo{
    color: #ffffff;
    padding-bottom: 2%;
  }

.logo:hover{
    color: black;
}

.Link1{
    position: absolute;
    font-size: 1.7rem;
    left: 10%;
    font-family: Brix;
}
.Link2{
    position: absolute;
    font-size: 1.7rem;
    left: 27%;
    font-family: Brix;
}
.Link3{
    margin-left: 48.5%;
    font-size: 1.7rem;
    font-family: Brix;
}
.Link4{
    position: absolute;
    right: 30%;
    font-size: 1.7rem;
    font-family: Brix;
}
.Link5{
    position: absolute;
    font-size: 1.7rem;
    right: 10%;
    font-family: Brix;
}

.ui.horizontal.segments{
    margin: 0;
    background-color: #009de0;
}

.MenuLink{
    padding-bottom: 1%;
}

.separatorMenu{
    height: 1px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: white;
    margin-bottom: 2%;
}


