.ProfilStyle{
    background-color: whitesmoke;
    padding-bottom: 2%;
}

.ProfilImg{
    padding-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: max-content;

}

.ProfilInfo{
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.seg{
    width: 100%;
}



