h2{
    font-family: 'Lora', serif;
}

.ReservationFirst{
    max-height: 20%;
    height: 20%;
    background-color: whitesmoke;
}

.reserv h2{   
text-align: center;
padding-top: 2%;

}

.selectRecherche{
        cursor: pointer;
        word-wrap: break-word;
        line-height: 1em;
        white-space: normal;
        outline: 0;
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0);
        min-width: 14em;
        min-height: 2.71428571em;
        background: #fff;
        display: inline-block;
        padding: .78571429em 2.1em .78571429em 1em;
        color: rgba(0,0,0,.87);
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid rgba(34,36,38,.15);
        border-radius: .28571429rem;
        -webkit-transition: width .1s ease,-webkit-box-shadow .1s ease;
        transition: width .1s ease,-webkit-box-shadow .1s ease;
        transition: box-shadow .1s ease,width .1s ease;
        transition: box-shadow .1s ease,width .1s ease,-webkit-box-shadow .1s ease;
        position: relative;
        display: inline-block;
        outline: 0;
        text-align: left;
        -webkit-transition: width .1s ease,-webkit-box-shadow .1s ease;
        transition: width .1s ease,-webkit-box-shadow .1s ease;
        transition: box-shadow .1s ease,width .1s ease;
        transition: box-shadow .1s ease,width .1s ease,-webkit-box-shadow .1s ease;
        -webkit-tap-highlight-color: transparent;
}

.optionItem{
    padding: .78571429rem 1.14285714rem!important;
    margin-top: 5rem;
}

@keyframes fadeInOpacity {
	0% {
        opacity: 0;
        transform : translateX(-10%);
	}
	100% {
        opacity: 1;
        transform: translateX(0);
	}
}

@keyframes moveTransi {
	0% {
        transform : translateX(50%);
	}
	100% {
        transform: translateX(0);
	}
}

.reserv{
    width : 55%;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
    animation-duration: 1.5s;
    display: flex;
    justify-content: center;
}

.separator{
    height: 3px;
    width: 5%;
    border: none;
    box-shadow: none;
    background-color: #2a83a7;
    margin-bottom: 2%;
}

.separator2{
    height: 2px;
    width: 90%;
    border: none;
    box-shadow: none;
    background-color: #2a83a7;
    margin-top: 4%;
    margin-bottom: 0%;
}

#titi{
    text-align: center;
    margin-top: 1%;
}


.ReservationBtn{
    margin-top: 4%;
    margin-left: 4%;
}

.TakeReservation{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2%;
    padding-bottom: 3%;
}

.listD{
    margin-bottom: 2%;
    margin-left: 4%;
    width: 90%;
    min-width: 10em;
}

#listD{
    text-align: center;

}

.listTitre{
    padding-bottom: 0%;
    margin-bottom: 0%;
    font-weight: bold;
    margin-left: 4%;
    padding-top: 0;

}


.erreur{
    padding-top: 3%;    
    margin-left: 2%;
    margin-bottom: 0;
    color: red;
    visibility:hidden;
}

.erreurVisible{
    padding-top: 3%;    
    margin-left: 2%;
    margin-bottom: 0;
    color: red;
}

.fillall{
    height: 38rem;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
}

.h2font{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.ui.collapsing.table{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.Aucuneresas{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.ui.message{
    text-align: center;
    margin-bottom: 0;
}


.fillall{
    height: 38rem;
    background-color: whitesmoke;
}

h2{
    font-family: 'Lora', serif;
}

.ReservationFirst{
    max-height: 20%;
    height: 20%;
    background-color: whitesmoke;
}

.reserv h2{   
text-align: center;
padding-top: 2%;

}

.separator{
    height: 3px;
    width: 5%;
    border: none;
    box-shadow: none;
    background-color: #2a83a7;
    margin-bottom: 2%;
}

.separator2{
    height: 2px;
    width: 90%;
    border: none;
    box-shadow: none;
    background-color: #2a83a7;
    margin-top: 4%;
    margin-bottom: 0%;
}

#titi{
    text-align: center;
    margin-top: 1%;
}


.ReservationBtnReserver{
    margin-top: 3%;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.centrageSegment{
    margin-top: 1%;
    margin-right: auto;
    margin-left: auto;
    width : 60%;
    margin-top: 2%;
}

.taillebouton{
    width: 100%!important;
    height: 100%!important;
}

.propositions{
    display: flex;
    flex-direction: column;
    width : 100%;
}

.propos{
    top:20%!important;
    height: 6em;
    width: 100%!important;
    text-shadow: black 0.1em 0.1em 0.2em;
    color: white!important;
    background-color: transparent!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: 100%!important;
    background-image: url("batiment.jpg")!important;
}

.ui.animated.button .hidden.content {
    top: 10%!important;
    left: auto;
    right: -100%;
}

.Recto{
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 250%;
    width:100%!important;
    height: 100%!important;
    display: inline-block;
    margin-top: 4%;
}

.Right{
    text-shadow: black 0.1em 0.1em 0.2em;
    width:100%;
    margin-right: 0;
    display: inline-block;
    right: 0;
    margin-top: 4%;
}

.Resa-list{
    margin-bottom: auto;
    padding-bottom: auto;
    width:50%
}

.listD{
    margin-bottom: 2%;
    margin-left: 4%;
    width: 90%;
    min-width: 10em;
}

#listD{
    text-align: center;

}

.listTitre{
    padding-bottom: 0%;
    margin-bottom: 0%;
    font-weight: bold;
    margin-left: 4%;
    padding-top: 3%;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;    
}

.reservForm{
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 2%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 2px grey;
    min-width: 12em;
}

.recherche{
    min-width: 35%;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 1.5s;
}

.rechercheMove{
    width: 20%;;
    opacity: 1;
	animation-name: moveTransi;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 1.5s;
}

.fillall{
    height: 38rem;
    background-color: whitesmoke;
}

.h2font{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}