.ReservationFirst{
    max-height: 20%;
    height: 20%;
    background-color: whitesmoke;

}

.reserv h2{   
text-align: center;
padding-top: 2%;
}

.separator{
    height: 3px;
    width: 5%;
    border: none;
    box-shadow: none;
    background-color: #2a83a7;
    margin-bottom: 2%;
}

.separator2{
    height: 2px;
    width: 90%;
    border: none;
    box-shadow: none;
    background-color: #2a83a7;
    margin-top: 4%;
    margin-bottom: 0%;
}

#titi{
    text-align: center;
    margin-top: 1%;
}

.TakeReservation{
    background-color: whitesmoke;
    margin-bottom: 2%;
}

.listD{
    margin-bottom: 2%;
}

#listD{
    text-align: center;
    padding-bottom: 2%;
}