h2{
    font-family: 'Lora', serif;
}

.ReservationFirst{
    max-height: 20%;
    height: 20%;
    background-color: whitesmoke;
}

.reserv h2{   
text-align: center;
padding-top: 2%;

}

@keyframes fadeInOpacity {
	0% {
        opacity: 0;
        transform : translateX(-10%);
	}
	100% {
        opacity: 1;
        transform: translateX(0);
	}
}

@keyframes moveTransi {
	0% {
        transform : translateX(50%);
	}
	100% {
        transform: translateX(0);
	}
}

.reserv{
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 1.5s;
}

.separator{
    height: 3px;
    width: 5%;
    border: none;
    box-shadow: none;
    background-color: #2a83a7;
    margin-bottom: 2%;
}

.separator2{
    height: 2px;
    width: 90%;
    border: none;
    box-shadow: none;
    background-color: #2a83a7;
    margin-top: 4%;
    margin-bottom: 0%;
}

#titi{
    text-align: center;
    margin-top: 1%;
}


.ReservationBtn{
    margin-top: 4%;
    margin-left: 4%;
}

.TakeReservation{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2%;
    padding-bottom: 3%;
}

.listD{
    margin-bottom: 2%;
    margin-left: 4%;
    width: 90%;
    min-width: 10em;
}

#listD{
    text-align: center;

}

.listTitre{
    padding-bottom: 0%;
    margin-bottom: 0%;
    font-weight: bold;
    margin-left: 4%;
    padding-top: 0;

}


.erreur{
    padding-top: 3%;    
    margin-left: 2%;
    margin-bottom: 0;
    color: red;
    visibility:hidden;
}

.erreurVisible{
    padding-top: 3%;    
    margin-left: 2%;
    margin-bottom: 0;
    color: red;
}

.fillall{
    height: 38rem;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
}

.h2font{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.ui.collapsing.table{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.Aucuneresas{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.ui.message{
    text-align: center;
    margin-bottom: 0;
}


.fillall{
    height: 38rem;
    background-color: whitesmoke;
}

h2{
    font-family: 'Lora', serif;
}

.ReservationFirst{
    max-height: 20%;
    height: 20%;
    background-color: whitesmoke;
}

.reserv h2{   
text-align: center;
padding-top: 2%;

}

.separator{
    height: 3px;
    width: 5%;
    border: none;
    box-shadow: none;
    background-color: #2a83a7;
    margin-bottom: 2%;
}

.separator2{
    height: 2px;
    width: 90%;
    border: none;
    box-shadow: none;
    background-color: #2a83a7;
    margin-top: 4%;
    margin-bottom: 0%;
}

#titi{
    text-align: center;
    margin-top: 1%;
}


.ReservationBtnReserver{
    margin-top: 3%;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.centrageSegment{
    margin-top: 1%;
    margin-right: auto;
    margin-left: auto;
}

.Left{
    width:50%;
    display: inline-block;
    margin-left: 0;
}

.Right{
    width:50%;
    margin-right: 0;
    display: inline-block;
    right: 0;
    text-align: right;
}

.Resa-list{
    margin-bottom: auto;
    padding-bottom: auto;
    width:50%
}

.listD{
    margin-bottom: 2%;
    margin-left: 4%;
    width: 90%;
    min-width: 10em;
}

#listD{
    text-align: center;

}

.listTitre{
    padding-bottom: 0%;
    margin-bottom: 0%;
    font-weight: bold;
    margin-left: 4%;
    padding-top: 3%;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;    
}

.reservForm{
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 2%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 2px grey;
    min-width: 12em;
}

.recherche{
    min-width: 35%;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 1.5s;
}

.rechercheMove{
    opacity: 1;
	animation-name: moveTransi;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 1.5s;
}

.fillall{
    height: 38rem;
    background-color: whitesmoke;
}

.h2font{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}